@import './utils/variables';
@import './utils/mixins';
@import './utils/animations';
@import './utils/variables';
body {
  font-family: 'mukta' !important;
}
.form-group {
  width: 100%;
  // display: inline-block;
  // background: $input-background !important;
  text-align: left;
  border-radius: 6px;
  // margin-bottom: 10px;
  .holder {
    width: 100%;
    display: inline-block;
  }
  &.valid-input {
    border: none;
  }
  &.invalid-input {
    border: 1px solid red !important;
  }
  input {
    padding: 15px 8px;
    width: 173px;
    background-color: $input-background;
    // opacity: .2;
    // border: 1.5px solid rgba(124, 89, 181, 0.6);
    font-size: 14px;
    // font-weight: 600;
    color: #262626;
    font-family: 'Mukta';
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    border-radius: 3px;

    &::placeholder {
      font-family: 'Mukta';
      font-size: 12.5px;
      font-weight: 600;
      color: #a9a9a9;
    }
    &:focus {
      font-size: 13.5px;
      color: #262626;
      border: 3.5px solid #f00;
    }
  }
  label {
    text-align: left;
    display: block;
    // color: $color-primary;
    // font-weight: 600;
    font-size: 1em;
    width: 100%;
    // background-color: #f00;
    margin-bottom: 10px;
  }
}

.app {
  // background-color: $bg-main;
  background-color: #eaecef;
  min-height: 100vh;
  width: 100%;
  @include respond-before-phone {
    margin-bottom: 50px;
    background-color: #fff;
  }
  .loadScreen {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #eaecef;
    z-index: 9999999999999999999;
    display: grid;
    place-items: center;
    svg {
      width: 50px;
      height: 50px;
      display: block;
      animation: 1.5s app-load linear forwards infinite;
    }
  }

  .footer {
    background-color: #1b1e25;
    width: 100%;
    height: 65px;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    @include respond-before-phone {
      display: none;
    }
    .owner {
      display: flex;
      h3 {
        color: #fff;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .socials {
        svg {
          width: 23px;
          height: 23px;
          display: block;
          margin-left: 5px;
        }
      }
    }
  }
}
.error {
  color: #7b0911;
  font-size: 13px;
  display: block;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px !important;
  color: #000;
  margin-left: -9px;
  border-radius: 100px;
  background-color: rgba(234, 236, 239, 0.15);
  span {
    display: block;
    color: red;
    font-size: 15.5px;
  }
}
.main-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 85vh;

  background-color: #eaecef;
  display: grid;
  grid-template-columns: 2fr 5fr minmax(275px, 2fr);
  @include respond-tablet {
    grid-template-columns: 5fr minmax(275px, 2fr);
  }
  @include respond-before-phone {
    grid-template-columns: 1fr;
    background-color: #fff;
  }
  @include respond-phone {
    padding: 0;
    grid-template-columns: 1fr;
    margin-top: -20px;
  }
  &__center {
    // flex-grow: 1;
    width: 100%;
  }
  &__left {
    flex-grow: 200px;
    margin-right: 20px;
    @include respond-tablet {
      display: none;
    }
    @include respond-before-phone {
      display: none;
    }
  }
  &__right {
    margin-left: 20px;
    flex-grow: 280px;
    min-height: 300px !important;
    background-color: #eaecef;
    // @include respond-tablet {
    //     display: none;
    // }
    @include respond-before-phone {
      display: none;
    }
  }
}
.main {
  background-color: #ff0;
}

@import './utils/variables';
.betinfo {
  min-height: 100%;
  background-color: #fff;
  border: 5px solid #353a45;
  // background-color: #fff;
  &__body {
    margin: 0 10px;
  }
  &__option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    color: #fff;
    background-color: #353a45;
    padding-top: 15px;
    padding-bottom: 8px;

    &-betslip,
    &-cashout {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      padding-bottom: 5px;
      cursor: pointer;
      &.active {
        border-bottom: 3px solid $odd-color;
      }
      .circle {
        display: block;
        width: 24px;
        height: 24px;
        color: #fff;
        font-size: 15px;
        margin-left: -9px;
        border-radius: 45px;
        background-color: rgba(234, 236, 239, 0.15);
      }
    }
    &-betslip {
    }
    &-cashout {
    }
  }
  &__body {
    border-top: none;
  }
  &__remove {
    width: 100%;
    margin: 10px 0;
    span {
      cursor: pointer;
      font-size: 12px;
      display: block;
      width: 70px;
      box-sizing: border-box;
      margin-left: auto;
      border: 1px solid #eaecef;
      border-radius: 2px;
      padding: 2px 4px;
      color: #3656a3;
      // height: 24px;
    }
  }
  & .betInfo {
    display: flex;
    // align-items: stretch;
    justify-content: flex-start;
    max-height: 100px;

    // margin-bottom: 7px;

    &__selected {
      padding: 7px 0 0;
      &-box {
        // width: 14px;
        // height: 14px;
        // border: 1px solid #d8d8d8;
        input {
          &:checked {
            background-color: $odd-color;
          }
        }
      }
    }

    &__main {
      // height: 100px !important;
      margin-left: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid #eaecef;
      padding: 7px 0 0;
      &-top {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 13px;
        // height: 30px !important;
        svg {
          width: 15px;
          height: 15px;
          margin-right: 4px;
        }
        .market {
          margin: 0;
        }
      }
    }

    &__action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      border-top: 1px solid #eaecef;
      padding: 7px 0 0;
      &-cancel {
        cursor: pointer;
        svg {
          fill: #353a45;
        }
      }
      &-odd {
        font-weight: 600;
      }
    }
  }
}

// HEADER
.header {
  max-width: 100%;
  background-color: $header-background !important;
  padding: 0 80px;
  // overflow: hidden;
  @include respond-before-phone {
    padding: 0 20px;
  }
  @include respond-phone {
    padding: 0 10px;
  }
  @include respond-tablet {
    padding: 0 40px;
  }
  &__body {
    // overflow: hidden;
    width: 100%;
    // background-color: #f00;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
      &-menu {
        display: none;
        @include respond-tablet {
          display: block;
        }
        @include respond-before-phone {
          display: block;
        }
      }
      svg {
        width: 25px;
        height: 25px;
        fill: #fff;
        margin-right: 5px;
        cursor: pointer;
      }
      &-logo {
        svg {
          width: auto;
          height: 40px;
          margin-left: 15px;
          fill: unset;
        }
      }
    }
  }

  &__options {
    // background-color: #f0f !important;
    height: 60px !important;
    // flex-grow: 1;
    .search {
      height: 30px;
      display: flex;
      justify-content: center;
      margin-right: 5px;
      svg {
        fill: #fff;
        width: 25px;
        height: 25px;
        font-weight: 700;
        stroke: #fff;
        stroke-width: 1.5px;
      }
    }
    .header__register {
      height: 35px;
      background-color: $header-background;
      border: 0.5px solid #fff;
      color: #fff;
      margin-left: 10px;
      padding: 0 20px;
      text-transform: unset;
      border-radius: 2px;
      font-size: $header-font-size;
    }
    &-auth {
      // background-color: #00f;
      &--web {
        // @include respond-tablet {
        //     display: none;
        // }
        @include respond-before-phone {
          display: none;
        }
        font-size: $header-font-size;
        color: #fff;
        display: flex;
        text-align: center;
        .button-group {
          position: relative;
          z-index: 9999999999;
          .header__button {
            height: 35px;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: $header-font-size;
            // &--auth{
            //     background-color: yellow !important;
            //     // border: 1px solid yellow;
            //     padding: 0;
            //     font-size: $header-font-size;
            //     text-transform: unset;
            // }
            &-open {
              position: absolute;
              width: 100%;
              background-color: transparent;

              &-on {
                width: 100%;
                span {
                  display: none;
                  width: 35px;
                  height: 35px;
                  background-color: #0ff;
                  z-index: 99999;
                  margin-left: 100px !important;
                  // display: block;
                  svg {
                    fill: #fafd00 !important;
                  }
                }
              }
              // width: 100%;
            }
          }
        }

        & .balance,
        & .deposit {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          place-items: center;
          span {
            cursor: pointer;
          }

          &::after {
            content: '';
            width: 1px;
            height: 14px;
            background: #fff;
            display: inline-block;
            vertical-align: middle;
            margin: 0 16px;
          }
        }
        & .balance {
          .amount {
            color: #fafd00;
            font-weight: 700;
            .visible {
              margin-left: 5px;
              position: relative;
              &.hide-balance {
                &::before {
                  content: '\2758';
                  font-size: 29px;
                  color: #fff;
                  font-style: normal;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  position: absolute;
                  top: -12px;
                  right: 5px;
                  transform: rotate(45deg);
                  font-weight: 100;
                }
              }
              svg {
                width: 18px;
                height: 18px;
                fill: #fff;
              }
            }
          }
        }
      }
      &--mobile {
        display: flex;
        align-items: center;
        display: none;
        @include respond-before-phone {
          display: flex;
        }
        @include respond-phone {
          display: flex;
        }
        & > * {
          border-radius: 4px;
        }

        .user {
          background-color: $header-background;
          padding: 5px;
          height: 30px;
          width: 30px;
          box-sizing: border-box;
          border: 0.5px solid white;
          display: flex;
          justify-content: center;
          cursor: pointer;
          position: relative;
          z-index: 222;
          // overflow: hidden;
          .header__button-open {
            &-on {
              position: absolute;
              z-index: 444;
              top: -5px;
              left: -13px;
              background-color: transparent;
              border: none !important;
              svg {
                fill: transparent !important;
              }
            }
            .header__dropdown {
              //  background-color: #0ff;
              position: absolute;
              top: 20px;
              left: -110px;
              z-index: 111;
            }
          }

          svg {
            width: 18px;
            height: 18px;
            fill: #fff;
            display: block;
            position: absolute;
            z-index: 225;
          }
        }
        &-button {
          background-color: #fff !important;
          margin-right: 5px;
          color: $input-background;
        }
      }
    }
    &-web {
      display: flex;
      @media (max-width: 900px) {
        display: none;
      }
      form {
        display: flex;
        .form-content {
          display: flex;
          flex-direction: column;
          .error {
            color: #7b0911;
            font-size: 13px;
          }
        }
        input {
          height: 35px;
          background: $input-background;
          border: none;
          font-size: 11.8px;
          color: #fff !important;
          &:focus {
            background: $input-background;
          }
          &::placeholder {
            font-size: 11.8px;
          }
          &:first-child {
            margin-right: 5px;
          }
        }
      }
      .header__button {
        height: 35px;
        background-color: #7b0911;
        border: none;
        color: #fff;
        opacity: 0.7;
        font-size: $header-font-size;
        // &--auth{
        //     background-color: yellow !important;
        //     // border: 1px solid yellow;
        //     padding: 0;
        //     font-size: $header-font-size;
        //     text-transform: unset;
        // }
        &.active {
          opacity: 1;
        }
      }

      .facebook {
        border: 0.5px solid #fff;
        height: 35px;
        width: 35px;
        margin-left: 10px;
        display: grid;
        place-items: center;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 2px;
        cursor: pointer;
        svg {
          width: 18px;
          height: 18px;
          fill: #fff;
        }
      }
    }
    &-mobile {
      display: none;
      @media (max-width: 900px) {
        display: flex;
      }
    }
  }
}

.header__dropdown {
  min-width: 100% !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 999999;
  border-radius: 1.5px;
  background-color: #fafafa;
  ul {
    font-size: $header-font-size;
    padding: 0 15px;
    li {
      text-align: left;
      &:not(:last-child) {
        margin: 3px 0;
        cursor: pointer;
      }
      &.balance {
        font-weight: 600;
      }
      &.logout {
        color: $header-background;
        margin-bottom: 3px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

// .book-betbeg

.book-bet {
  padding: 10px;
  &__info,
  &__detail {
    font-size: 14px;
    margin-bottom: 0;
  }
  &__detail {
    color: #dcdee5;
  }
  select {
    border: 0.1px solid #0d9737;
    option::selection {
      background-color: #f00;
    }
  }
  input {
    text-transform: uppercase !important;
    &:focus {
      border: 0.1px solid #0d9737;
    }
    &::placeholder {
      text-transform: unset !important;
      font-size: 14px !important;
    }
  }
  button {
  }
  .inactive {
    background-color: #dcdee5;
    color: #9ca0ab;
    border: none;
    &:hover {
      border: none;
      cursor: not-allowed;
    }
  }
  .active {
    background-color: $odd-color;
    color: $font-color;
    cursor: pointer;
    &:hover {
      background-color: $button-hover;
    }
  }
  input,
  select,
  button {
    margin-top: 10px;
    font-size: 14px;
    text-transform: unset;
  }
}

.betAmount {
  // background-color: #0f0;
  // margin: 0 10px;
  border-top: 1px solid #eaecef;
  &__details {
    &-money,
    &-bonus,
    &-winning {
      display: flex;
      align-items: center;
      .info {
        font-size: 15px;
      }
      .content {
        font-size: 15.5px;
      }
    }
    &-money {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      .input {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        .invalid-feedback {
          font-size: 10px;
          color: #f00;
          margin-top: 3px;
        }
        input {
          &:focus {
            border: 0.15px solid $odd-color;
          }
          &::placeholder {
            font-size: 12px;
          }
        }
      }
    }
    &-bonus {
      font-size: 15px;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
        margin-left: auto;
      }
    }
    &-winning {
      font-size: 15px;
      .money {
        margin-left: auto;
        span {
          font-size: 11px;
        }
        h3 {
          display: inline;
        }
      }
    }
  }
  &__actions {
    margin-top: 10px;
    &-suggest {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      &-button {
        font-size: 13px;
        text-align: center;
        border: 0.1em solid $odd-color;
        padding: 11.5px !important;
        border-radius: 4px;
        line-height: 0;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
    &-buttons {
      margin-top: 15px;
      display: flex;
      // justify-content: center;
      .cancel {
        margin-right: 15px;
      }
      .bet {
        margin-left: auto;
        transition: 0.15s all;
        border: none;
        background-color: $button-hover;
        color: #fff;
        &:hover {
          background-color: $button-hover;
        }
        &.active {
          background-color: $odd-color;
          color: #fff;
        }
        &.inactive {
          background-color: $button-hover;
        }
      }
      button {
        width: 100px;
      }
    }
  }
}

.betGroup {
  table {
    width: 100%;
    font-size: 15px;
    tr {
      border: 1px solid #999;
      position: relative;
      border-bottom: 2px solid red;
    }
    .match_date {
      color: $font-color;
      font-weight: 500;
      font-size: 18px;
    }
    th {
      color: #b6b5b3;
      font-weight: 100;
      font-size: 13.5px;
      &.hah {
        border-bottom: 2px solid red;
      }
    }
    td {
      color: #000;
      .match_detail {
        @include respond-tablet-phone {
          display: none;
        }
      }
      .teamShow {
        display: none;
        @include respond-tablet-phone {
          display: grid !important;
          grid-template-columns: max-content 1fr;
          align-items: center;
          margin-right: 20px;
          font-weight: 100;
        }
        @include respond-phone {
          font-size: 13px;
        }

        &__teams {
          margin-left: 5px;
        }
        &__stats {
          // margin-right: 15px;
          font-weight: 400;
          svg {
            width: 20px;
            height: 20px;
            display: block;
            margin-bottom: 5px;
          }
        }
      }
      button {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: #e9f6de;
        font-weight: 600 !important;
        border-radius: 2.5px;
        border: none;
        &:hover {
          border: none;
          background-color: #cef2af;
        }
        span {
          font-weight: 800 !important;
        }
        &.matchSelected {
          background-color: $odd-color;
        }
      }
    }
    .teams {
      @include respond-tablet-phone {
        display: none;
      }
    }
    .teamView {
      font-weight: 100;
      color: $font-color;
      // font-size: 15px;
      display: flex;
      align-items: center;
      &__teams {
      }
      &__stats {
        margin-left: auto;
        margin-right: 17px;
        svg {
          fill: $font-color;
          width: 18px;
          height: 18px;
        }
      }
      @include respond-tablet-phone {
        display: none;
      }
    }
  }
}

.betinfo {
  min-height: 182px;
  background-color: #fff;
  border: 5px solid #353a45;
  @include respond-before-phone {
    border-bottom: none;
  }
  // background-color: #fff;

  &__body {
    margin: 0 10px 20px 10px;
  }
  &__option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    color: #fff;
    background-color: #353a45;
    padding-top: 15px;
    padding-bottom: 8px;

    &-betslip,
    &-cashout {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      padding-bottom: 5px;
      cursor: pointer;
      &.active {
        border-bottom: 3px solid $odd-color;
      }
    }
    &-betslip {
    }
    &-cashout {
    }
  }
  &__body {
    border-top: none;
  }
  &__remove {
    width: 100%;
    margin: 10px 0;
    span {
      cursor: pointer;
      font-size: 12px;
      display: block;
      width: 70px;
      box-sizing: border-box;
      margin-left: auto;
      border: 1px solid #eaecef;
      border-radius: 2px;
      padding: 2px 4px;
      color: #3656a3;
      // height: 24px;
    }
  }
  & .betInfo {
    display: flex;
    // align-items: stretch;
    justify-content: flex-start;
    max-height: 100px;

    // margin-bottom: 7px;

    &__selected {
      padding: 7px 0 0;
      &-box {
        // width: 14px;
        // height: 14px;
        // border: 1px solid #d8d8d8;
        input {
          &:checked {
            background-color: $odd-color;
          }
        }
      }
    }

    &__main {
      // height: 100px !important;
      margin-left: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid #eaecef;
      padding: 7px 0 0;
      font-size: 13px;
      &-top {
        font-size: 13px;
        &-content {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          svg {
            width: 15px;
            height: 15px;
            margin-right: 4px;
            margin-top: 0;
            fill: $font-color;
          }
          .market {
            margin: 0;
            font-weight: 600;
          }
        }
        // & > *{
        //     display: block;
        //     margin-right: auto !important;
        // }
        // height: 30px !important;
      }

      &-bottom {
        font-weight: 600;
        letter-spacing: 2px;
      }
    }

    &__action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      border-top: 1px solid #eaecef;
      padding: 7px 0 0;
      &-cancel {
        cursor: pointer;
        svg {
          fill: #353a45;
        }
      }
      &-odd {
        font-weight: 600;
      }
    }
  }
}

.betPlaced {
  &__icon {
    width: 100%;
    svg {
      display: block;
      margin: 10px auto 10px !important;
      width: 90px;
      height: 90px;
    }
  }

  &__message {
    text-align: center;
    color: $font-color;

    &-code {
      .bet-code {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}

.cashout {
  background-color: #50545e;
  min-height: 182px;
  color: #888;
  font-size: 14px;

  &__matches {
    background-color: #fff;
    // min-height: 250px;
    padding: 5px;
    .view-all {
      cursor: pointer;
    }
    .cashout__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      .detail {
        color: $font-color;
        font-weight: 600;
      }

      &-stake {
      }
      &-winning {
      }
    }
  }
  &__match {
    display: flex;
    align-items: stretch;

    &-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35px;

      &--day {
        font-weight: 700;
        font-size: 19px;
      }
    }
    &-selections {
      color: $font-color;
      margin-left: 10px;
      .market {
        font-weight: 600;
      }
    }
  }

  &__state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ca0ab;
    color: #fff;
    font-weight: 600;
    padding: 2px 5px;
    box-sizing: border-box;
    .status {
      display: flex;
      align-items: center;
      svg {
        fill: currentColor;
        width: 16.5px;
        height: 16.5px;
        margin-left: 5px;
        transform: rotate(270deg);
        transition: 0.1s all;
      }
      &:hover {
        svg {
          transform: translateX(3px) rotate(270deg);
        }
      }
    }
    span {
    }
  }
  .no-bets {
    width: 100%;
    height: 182px !important;
    display: block;
    display: grid;
    place-items: center;
    span {
      display: block;
    }
  }
}

.creditAccount {
  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    input {
      width: 70% !important;
      &:focus {
        border-color: $odd-color;
      }
    }
  }
  .form-label {
    width: fit-content;
  }
  .pay {
    background-color: $button-hover;
    color: #fff;
    &.active {
      background-color: $odd-color;
      color: #fff;
    }
  }
}

// LEAGUES
.leagues {
  background-color: #fff !important;
  // min-height: 100vh;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
  border: 1px solid #b4b4b4;
  // @include respond-tablet {
  //     display: none;
  // }
  .list-group {
    // margin: 0;
    // padding: 0;
    margin-bottom: 0 !important;
    border-radius: 0;
    &-item {
      // list-style: none;
      // padding: 0;
      margin-top: 0 !important;
      position: relative;
      color: $font-color;
      background-color: #fff;
      text-align: left;
      padding: 7px 10px !important;
      font-size: 15.2px;
      border-color: $border-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .league-star {
        fill: #fff;
        stroke: $font-color;
        stroke-width: 20px;
        stroke-linejoin: miter-clip;
        width: 15px;
        height: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          display: block;
          stroke-width: 0;
          width: 100%;
          height: 100%;
          fill: #ccc;
        }
        &.selected {
          svg {
            fill: #ffdf1b !important;
          }
        }
      }

      .league-link {
        color: $font-color;

        &:hover {
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
  }
}

.loaders {
  // background-color: #0f0;
  padding: 10px;
  span {
    text-align: center;
  }
}

.table-loader {
  span {
    width: 100% !important;
  }
}

.react-loading-skeleton {
  border-radius: 0 !important;
}

// MAIN VIEW
.mainview {
  background-color: #ffffff;
  max-width: 100% !important;
  border: 1px solid #b4b4b4;
  @include respond-before-phone {
    border: none;
  }
  padding: 10px;
  &__top {
    color: #ddd;
    display: flex;
    align-items: center;
    // padding: 0 10px;
    .latest {
      display: flex;
      align-items: center;
      margin: 10px;
      .circle {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 4px;
        border-radius: 45px;
        background-color: #0d9737;
        // margin-top: 4px;
      }
      h2 {
        font-size: 21px;
        font-weight: 500;
        margin: 0;
      }
    }
    .refresh {
      margin-left: auto;
      color: $font-color;
      font-size: 15px;
      font-weight: 500;
      svg {
        margin-left: 5px;
        width: 15px;
        height: 15px;
      }
    }
  }
  .uk-tab {
    margin-top: 0;
    margin-bottom: 0;
  }
  .uk-tab > .uk-active > a {
    border-color: red;
    border-width: 3px;
  }

  &__options {
    display: flex;
    padding: 10px;
    max-width: 100% !important;
    overflow-x: auto;
    &-box {
      // padding: 14px 0 21px 12px;
      margin-right: 10px;
      width: 130px;
      height: 60px;
      cursor: pointer;
      border-radius: 2px;
      background: #f7f7f7;
      overflow: auto !important;
    }
  }
}

.league {
  position: relative;

  .load-screen {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px + 50px);
    background-color: #eaecef;
    display: grid;
    place-items: center;
    svg {
      filter: grayscale(100%);
      width: 50px;
      height: 50px;
      display: block;
      margin-top: -25px;
      animation: 1.5s app-load linear forwards infinite;
    }
  }
}

// MOBILE-BETS
.mobilebets {
  width: 100%;
  height: 50px;
  position: fixed;
  // top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-color: $modal-bg;
  display: none;
  // z-index: 9999999999999 !important;
  // height: 100vh;
  @include respond-before-phone {
    display: block;
  }
  &__content {
    position: fixed;
    top: 0;
    background-color: $modal-bg;
    width: 100%;
    height: 100vh;
    z-index: 299;
    // height: 90vh;
    // display: flex;
    // flex-direction: column;
  }
  &__top {
    position: absolute;
    bottom: 50px;
    width: 100%;
    overflow-y: auto;
    background-color: #353a45;
    max-height: calc(100vh - 230px);
    margin-top: calc(100vh - (calc(100vh - 230px)) - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bets {
      overflow-y: auto;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      flex-shrink: 0;
      text-align: center;
      display: block;
      margin: 10px auto;
      cursor: pointer;
    }
    // &-svg{
    //     width: ;
    // }
  }
  &__bottom {
    height: 50px;
    display: flex;
    width: 100%;
    z-index: 333;
    // margin-top: auto;
    // flex-grow: 1;
    .betlist,
    .bet-cashout {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 17px;
      text-align: center;
      .circle {
        color: #fff;
        margin-left: 7px;
      }
    }

    button {
      flex-grow: 1;
    }
    .betlist {
      background-color: #009d00;
    }
    .bet-cashout {
      background-color: #323232;
    }
  }
}

// MODAL
.modal-bg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-bg;
  z-index: 2222332 !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__body {
    flex: 1 0 auto;
    background-color: #fff;
    max-width: 790px;
    // max-height: calc(100% - 40px);
    margin: 0 auto;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: modalAnim 0.1s ease-out forwards;
    svg {
      fill: #b1b1b1;
      margin: 10px 10px 0 auto;
      cursor: pointer;
    }
    @include respond-before-phone {
      margin: 10px;
    }
    @include respond-tablet {
      margin: 10px;
    }
    &-top {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      background-color: #fbfbfbd6;
      height: 90px;
      display: grid;
      place-items: center;
      position: relative;
      &-cancel {
        width: fit-content;
        height: 45px;
        position: absolute;
        top: 10px;
        right: 10px;

        svg {
          display: block;
          // margin-left: auto;
          // margin-top: 10px;
          // margin-right: 10px;;
          fill: #999;
          width: 25px;
          height: 25px;
          cursor: pointer;
        }
      }
      &-info {
        height: 45px;
        .content {
          width: fit-content;
          margin: 0 auto;
          display: flex;
          font-size: 27px;
          & > * {
            padding-bottom: 0;
            cursor: pointer;
          }
          & .active {
            color: #0d9737;
            border-bottom: 3px solid #0d9737;
          }
          .register {
            margin-right: 15px;
          }
        }
      }
      &.deposit {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: unset;
        background-color: #fff;
        .modal__text {
          font-weight: 600;
        }
      }
    }
    &-bottom {
      background: url('../icons/ball-bg.jpg');
      display: flex;
      // height: 300px;
      padding: 40px 0 20px 0;
      @include respond-before-phone {
        padding: 40px 20px 20px 20px;
      }
      position: relative;

      .ball {
        width: 164px;
        height: 157px;
        z-index: 444;
        top: 0;
        left: -40px;
        position: absolute;
        background-size: cover;
        background: url('../icons/football.png');
        @include respond-before-phone {
          display: none;
        }
      }
    }
    &-main {
      // background-color: #00f;
      flex: 1 0 auto;
      max-width: 350px;
      // width: 300px;
      //
      margin: auto;
      background-size: cover;
      input {
        max-width: 350px;
        width: 100%;
        height: 55px;
        border: 1px solid #b4b4b4;
        &:focus {
          border: 0.15px solid $odd-color;
        }
      }
      .first-input {
        // border-top: none ;
      }
    }
  }
}

.action {
  background-color: #b1b1b1;
  margin: 25px auto 15px;
  color: #fff;

  &.active {
    background-color: $odd-color;
    color: #fff;
  }
}
.login__option {
  display: flex;
  align-items: center;
  .facebook-login {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: #3656a3;
    display: grid;
    place-items: center;
    svg {
      width: 18px;
      height: 18px;
      fill: #fff;
    }
  }

  &-detail {
    display: inline-block;
    color: #3656a3;
    letter-spacing: 1.2px;
    margin: 0;
    font-size: 15px;
  }
}

// MOBILE-SIDEBAR
.sidebar-modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 2222332 !important;
  min-height: 100vh;
  &.w-100 {
    width: 100%;
  }
  &.w-0 {
    width: 0;
  }
  display: flex;
  .sidebar {
    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;
    background-color: #fff;
    max-height: 100vh;
    width: 300px;
    // overflow-x: auto;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &.sidebar__show {
      transform: translate3d(0px, 0, 0) !important;
    }
    &.sidebar__no-show {
      transform: translate3d(-300px, 0, 0) !important;
    }

    &__main {
      display: flex;
      flex-direction: column;

      &-top {
        padding: 10px;
        background-color: $header-background;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999999999;
        &-action {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &-home {
            font-size: $header-font-size;
            a {
              color: #fff;
              display: flex;
              align-items: center;
              svg {
                width: 19px;
                height: 19px;
              }
              span {
                margin-left: 5px;
              }
            }
          }
        }

        &-input {
          margin: 10px 0;
          width: 100%;
          position: relative;

          input {
            width: 100%;
            height: 35px;
            border-radius: 2px;
            background: $input-background;
            border: none;
            font-size: 11.8px;
            color: #fff !important;
            padding-left: 30px;
            &:focus {
              background: $input-background;
            }
            &::placeholder {
              font-size: 11.8px;
              color: #fff;
            }
          }
          svg {
            position: absolute;
            stroke: #fff;
            width: 18px !important;
            height: 13px;
            margin-left: 8px !important;
          }
        }
        &-buttons {
          display: flex;
          .button-link {
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: $header-font-size;
            &:not(:last-child) {
              margin-right: 10px;
              cursor: pointer;
            }
            svg {
              width: 25px;
              display: inline-block;
            }
            span {
              line-height: 15px;
            }
          }
        }

        svg {
          width: auto;
          height: 30px;
          fill: #fff;
          margin-left: -7px;
          stroke: #fff;
        }
      }
      &-bottom {
        height: calc(100vh - 165px);
        overflow-x: auto;
        margin-top: 165px;
      }
    }
  }
}
