@keyframes modalAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes mobileBetsEnter {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes mobileBetsLeave {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(230px);
  }
}

@keyframes app-load {
  0%,
  100% {
    transform: scale(0.85);
  }

  65% {
    transform: scale(1.25);
  }
}

.slide-up-enter,
.slide-up-exit-active {
  // can be used for initialization, ie. the initial state of the element, before it is visible
  transition: all 0.3s cubic-bezier(0.36, -0.01, 0.13, 0.97);
  transform: translateY(290px) !important;
  opacity: 0 !important;
}
.slide-up-enter-active {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 0.3s cubic-bezier(0.36, -0.01, 0.13, 0.97) !important;
}
.slide-up-exit {
}
